$font-family: "Raleway";

//Colors
$color-primary      : #5704ff;
$color-primarylight : #e9deff;
$color-primarybright: #eeeeee;
$color-secondary    : #f506c0;
$color-gray         : #6d6d6d;
$color-lightgray    : #d0d0d0;
$color-dark         : #0d2b3f;
$color-light        : #ffffff;
$color-black        : #000000;
$color-white        :#ffffff;
$color-skyblue      : #3d88e4;
$color-skybluelight : #70a7eb;


//Gradient
$gradient-basic             : linear-gradient(60deg, #000000 0%, #ffffff 100%);
$gradient-primary           : linear-gradient(60deg, #a207be 0%, #d000f5 33%, #3d88e4 80%, #70a7eb 100%);
$gradient-primarytransparent: linear-gradient(60deg, rgba(162, 7, 190, 0.1) 0%, rgba(208, 0, 245, 0.1) 33%, rgb(61, 136, 228, 0.1) 80%, rgb(112, 167, 235, 0.1) 100%);
$gradient-skynight          : linear-gradient(110deg, #6e1397 0%, #9e3793 47%, #b74792 100%);
$gradient-skynightsea       : linear-gradient(4deg, #6e1397 0%, #9e3793 67%, #e3d3a8 100%);
$gradient-skynightmountain  : linear-gradient(180deg, #7c129e 23%, #540c83 100%);
$gradient-sun               : linear-gradient(180deg, #f0d78b 31%, #f48d8b 58%, #f45fba 100%);

//Shadow
$shadow-card : 0px 34px 74px 0px rgba($color-dark, 0.07);
$shadow-card2 : 0px 8px 8px 0px rgba($color-dark, 0.07);